body {
    background-color: rgb(82, 82, 82);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black; 
}

#title {
    color:red;
}