<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redface</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <style>
        body {
            background-color: rgb(182, 182, 182);
        }
        .headerUrl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            list-style-type: none;  
            color: rgb(214, 183, 183); 
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            font-size: 48px;
            background-color: brown;
            padding: 16px 24px;
            margin-top: 0;
        }
        .header {
            justify-content: space-between;
        }

    </style>
</head>
<body>
    <script src="/path/to/bulma.js"></script>
    <div class="header">
        <nav>
            <ul class="headerUrl">
                <!-- show home whether is logged in or not -->
                <li><a href='/' class="headerUrl">Redface</a></li>
                <% if (user) { %>
                <!-- show these if user is logged i -->
                <li><a href='/category' class="headerUrl">Category</a></li>
                <li><a href='/suggested' class="headerUrl">Suggested</a></li>
                <li><a href='/drink/new' class="headerUrl">Create a Drink</a></li>
                <li><a href='/users/profile' class="headerUrl">Profile</a></li>
                <li><a href='/users/logout' class="headerUrl">Logout</a></li>
                <% } else { %>
                <!-- show these if user not logged in -->
                <li><a href='/users/new' class="headerUrl">Sign Up</a></li>
                <li><a href='/users/login' class="headerUrl">Login</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <!-- <h1 id="title">Express Auth Boilerplate for p2</h1> -->