<%- include('../partials/header.ejs', { user }) %> 

<h1 class="describe">Choose your category!</h1>


<li><a href='/category/Alcoholic'>Alcoholic</a></li>
<li><a href='/category/Non-Alcoholic'>Non-alcoholic</a></li>