<%- include('../partials/header.ejs'), {user} %>

<h1 class="describe">Edit your beverage!</h1>

<form action="/drink/edit?_method=PUT" method="POST">
  <div>
    <label>Name</label><br>
    <input type="text" id="name" name="name" autocomplete='off' required>
  </div>

  <div>
    <label>Description</label><br>
    <textarea type="text" id="Description" name="description" autocomplete='off' required></textarea>
  </div>

  <div>
    <label>Ingredient</label><br>
    <textarea type="text" id="ingredient" name="ingredient" autocomplete='off' required></textarea>
  </div>

  <div>
    <input type="radio" name='category' class="skins" id="red" value='Alcoholic' checked required>Alcoholic
    <input type="radio" name='category' class="skins" id="red" value='Non-Alcoholic' required>Non-alcoholic
  </div>
  
<input hidden name="id" value="<%= a.id %>">

  <input type="submit" class="btn btn-primary">
</form>

<%- include('../partials/footer.ejs') %>